.draggable {
    z-index: 9;
    height: 100px;
    /* width: 50px; */
    position: fixed;
}

@keyframes draggable-animate {
    0% {
        filter: drop-shadow(0 0 5px rgba(26, 251, 255, 0.8));
    }

    50% {
        filter: drop-shadow(0 0px 20px rgba(148, 255, 26, 0.8));
    }

    100% {
        filter: drop-shadow(0 0 5px rgba(26, 251, 255, 0.8));
    }
}

.draggable:hover img {
    animation: draggable-animate 1s linear infinite;
}

.draggable img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 5px rgba(26, 251, 255, 0.8));
}

.resizer {
    position: absolute;
    z-index: 11;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ccc;
}

.ne {
    bottom: -10px;
    right: -10px;
    position: absolute;
}

.ne::before {
    content: '^';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 8px;
}

.sw {
    top: -10px;
    left: -10px;
    position: absolute;
}

.sw::before {
    content: 'x';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 8px;
}