.shrink-ray {
    --tilt-degree: -10;
    --tilt-degree-2: 2* calc(90 - var(--tilt-degree));
    --tilt-degree-3: calc(90 - var(--tilt-degree));
    height: 80vh;
    width: 30vw;
    position: fixed;
    bottom: 0;
    left: 200px;
    /* animation: shrink-ray-animation 2s ease-in-out infinite; */
    /* transform: scale(-1); */
}

.shrink-ray .stand {
    height: 100%;
    width: 100%;
}

.shrink-ray .stand .stand-1 {
    box-sizing: content-box;
    border: 2px solid black;
    width: 20px;
    height: 30vh;
    background-color: #A8C2C6;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(calc(var(--tilt-degree) * 1deg));
    transform-origin: bottom;
}

.shrink-ray .stand .stand-1::before {
    content: '';
    position: absolute;
    height: 30vh;
    width: 5px;
    left: 10px;
    background-color: #D5E9ED;
}

.shrink-ray .stand-1 .stand-circle {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    background-color: #5D686E;
    border: 2px solid black;
    height: 40px;
    width: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shrink-ray .stand-1 .stand-circle::before {
    position: absolute;

    content: '';
    border-radius: 50%;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    background-color: #A8B2C2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.shrink-ray .stand .stand-2 {
    box-sizing: content-box;
    border: 2px solid black;
    z-index: -5;
    position: absolute;
    width: 20px;
    height: 30vh;
    background-color: #A8C2C6;
    transform: rotate(calc(var(--tilt-degree-2) * 1deg));
    /* transform: rotate(120deg); */
    transform-origin: top center;
    border-radius: 5px;
}

.shrink-ray .stand .stand-2::before {
    content: '';
    position: absolute;
    height: 30vh;
    width: 5px;
    right: 10px;
    background-color: #D5E9ED;
}

.stand-1 .stand-pipe {
    content: '';
    height: 10vh;
    width: 150%;
    background-color: #8390A0;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border: 2px solid black;
}

.shrink-ray .stand-3 {
    position: absolute;
    z-index: -6;
    background: #A8C2C6;
    border-radius: 0 0 2px 2px;
    width: 10px;
    height: 10vh;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, 100%);
    border: 2px solid black;
}

.shrink-ray .bulb-body {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 100px;
    top: 25px;
    display: flex;
}

.shrink-ray .stand-3 .top-circle {
    position: absolute;
    width: 22px;
    height: 10px;
    border-radius: 11px 11px 0 0;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #5F6E73;
    bottom: 0;
    border: 2px solid black;
    border-bottom: 0;
    overflow: hidden;
}

.shrink-ray .stand-3 .top-circle::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #86929B;
    left: 2px;
}

.shrink-ray .top-circle-hat {
    position: absolute;
    right: -7px;
    top: 50%;
    border-bottom: 10px solid #AFDCDA;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 35px;
    transform: translateY(-50%) rotate(90deg);
}


.shrink-ray .bulb {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%) rotate(calc((180 - var(--tilt-degree-3)) * 1deg));
}

.shrink-ray .stand-3 .top-pipe {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 100%);
    background-color: #5F6E73;
    border: 2px solid black;
}


.shrink-ray .stand-3 .top-pipe::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #86929B;
    left: 5px;
}

.shrink-ray .stand-3 .top-gray-round {
    position: absolute;
    background-color: #3C4353;
    border: 2px solid black;
    height: 100px;
    width: 50px;
    transform: translateX(-30%);
    border-radius: 0 35px 35px 0;
    overflow: hidden;
}

.shrink-ray .top-round-crown {
    position: absolute;
    height: 100px;
    width: 20px;
    left: -10px;
    background: #3A4653;
    transform: translateX(-40%);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.shrink-ray .top-gray-round::before {
    content: '';
    position: absolute;
    /* left: 20px; */
    background-color: #69758E;
    border-width: 10px;
    height: 100px;
    width: 50px;
    top: 15px;
    border-radius: 0 35px 35px 0;
}

.shrink-ray .top-gray-round::after {
    content: '';
    position: absolute;
    /* left: 20px; */
    background-color: #4D5C63;
    height: 80px;
    width: 56px;
    top: 21px;
    left: -18px;
    border-radius: 50%;
    transform: rotate(80deg);
}

.shrink-ray .bolt {
    border: 2px solid black;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}


.shrink-ray .light-container {
    height: 100%;
    /* width: 10px; */
    position: absolute;
    top: 0;
    left: -2px;
    /* transform: rotate(90deg); */
    display: flex;
    align-items: center;
    transform-origin: top left;
    transform: scale(-1, 1);
}

.light-container .light1 {
    height: 50%;
    width: 10px;
    background-color: #D5F3A0;
    box-shadow: 0 0px 20px #D5F3A0;
    position: relative;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.light-container .light1::after {
    content: '';
    position: absolute;
    height: 30%;
    bottom: 5px;
    width: 10px;
    background-color: #76FC6E;
    box-shadow: 0 0px 20px #D5F3A0;

}

.light-container .box1 {
    background-color: #E0FBC2;
    height: 35px;
    width: 10px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.light-container .box2 {
    background-color: #E0FBC2;
    height: 43px;
    width: 7px;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
    right: 1px;
}

.light-container .box3 {
    background-color: #E0FBC2;
    height: 33px;
    width: 3px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    right: 1px;
}

.light-container .box4 {
    background-color: #E0FBC2;
    height: 40px;
    width: 5px;
    border: 1px solid black;
    position: relative;
    right: 2px;
    border-radius: 2px;
}


.light-container .box5 {
    background-color: #E0FBC2;
    height: 27px;
    width: 3px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    right: 2px;
}

.light-container .box6 {
    background-color: #E0FBC2;
    height: 33px;
    width: 5px;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
    right: 3px;
}

.light-container .box7 {
    background-color: #E0FBC2;
    height: 10px;
    width: 3px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    right: 3px;
}

.light-container .box8 {
    background-color: #E0FBC2;
    height: 8px;
    width: 7px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    right: 3px;
}

.light-container .box9 {
    background-color: #E0FBC2;
    height: 7px;
    width: 7px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    right: 3px;
}

.light-container .box10 {
    background-color: #E0FBC2;
    height: 3px;
    width: 10px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    right: 3px;
}

.light-container .box11 {
    background-color: #5F6E73;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    border: 1px solid black;
    position: relative;
    right: 4px;
}

.light-container .box {
    box-shadow: 0 0 10px #E0FBC2;
}

@keyframes shrink-ray-animation {
    from {
        --tilt-degree: 30%;
    }

    /* 30% {
        --tilt-degree: 40%;
    }

    60% {
        --tilt-degree: 20%;
    } */

    to {
        --tilt-degree: 0%;
    }
}